{{ define "main" }}
<main>
  <article>
    <header>
      <h1 class="list-title">
        {{ if (eq .Kind "section") }}
          {{ if .Title }}
        記事一覧：{{ .Title }}
          {{ else }}
        記事一覧：{{ .Section }}年
          {{ end }}
        {{ else if (eq .Kind "taxonomy") }}
        記事一覧：「{{ .Title }}」タグ
        {{ else }}
        {{ .Kind }} タグ別の記事一覧
        {{ end }}
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
  </article>
  <div class="stories">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    {{- partial "article.html" . -}}
    {{ end }}
  </div>
</main>
{{ end }}
