<!DOCTYPE html>
<html>
  <head>
    <title>hylom'sWeblog</title>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="author" href="https://plus.google.com/115759524056726415451?rel=author">
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10158631-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <hgroup>
          <h1><a href="/">hylom'sWeblog</a></h1>
          <div class="description"> - hylom's blog</div>
          | <a href="about/">about hylom / hylom.net</a>
          | <a href="/2012/">old contents</a>
          | <a href="/admin/login">login</a>
        </hgroup>
      </div>
    </header>
