<div class="sidebar-box">
  <h3>site navigation:</h3>
  <nav>
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/tags">tags</a></li>
      {{ range (where .Site.Sections "Section" "ne" "static") }}
      <li><a href="{{ .Permalink }}">{{ .Section }}</a></li>
      {{ end }}
      <!-- <li><a href="/admin/login">login</a></li> -->
    </ul>
  </nav>
</div>

<div class="sidebar-box">
  <h3>hylom.net:</h3>
  <div class="box-contents">
    <p>ライター/エディター/プログラマー/Webディレクター、hylomのブログです。ご興味のある方は<a href="http://twitter.com/hylom">つぶやき</a>や<a href="/about">執筆記事</a>などもどうぞ。</p>
  </div>
</div>

<div class="sidebar-box">
  <h3>最近の記事：</h3>
  <div class="box-contents">
    <ul class="unlist">
      {{ range first 10 (where .Site.RegularPages "Section" "ne" "static") }}
      <li>
        <a href="{{.RelPermalink}}">{{.Title}}</a>
        <span class="timestamp">（{{.Date.Format "2006/01/02"}}）</span>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

<div class="sidebar-box">
  <h3>お知らせ：</h3>

  <h4>技術記事を執筆中です</h4>
  <div class="box-contents">
    <p>技術情報サイト「<a href="https://knowledge.sakura.ad.jp/">さくらのナレッジ</a>」にて、技術記事を月1本ペースで執筆しています（<a href="https://knowledge.sakura.ad.jp/author/hirom/">執筆記事一覧へのリンク</a>）。</p>
  </div>

  <h4>Git解説本を執筆しました</h4>
  <div class="box-contents">
    <a href="http://www.amazon.co.jp/gp/product/4797380365/ref=as_li_qf_sp_asin_il?ie=UTF8&amp;camp=247&amp;creative=1211&amp;creativeASIN=4797380365&amp;linkCode=as2&amp;tag=hylom-22" target="_blank"><img border="0" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&amp;ASIN=4797380365&amp;Format=_SL250_&amp;ID=AsinImage&amp;MarketPlace=JP&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=hylom-22" width="126" alt="デザイナーからプログラマーまで 絶対わかるGitバージョン管理" class="block"></a>
    <p>Git解説本「デザイナーからプログラマーまで 絶対わかるGitバージョン管理」を出版しました。コマンドラインおよびGUIクライアントのSourceTreeを使ったGitによるバージョン管理の流れを解説してします。また、コマンドラインリファレンスも収録しています。</p>
  </div>

  <h4>Node.js解説本を執筆しました</h4>
  <div class="box-contents">
    <a href="http://www.amazon.co.jp/gp/product/4797370904/ref=as_li_qf_sp_asin_il?ie=UTF8&amp;camp=247&amp;creative=1211&amp;creativeASIN=4797370904&amp;linkCode=as2&amp;tag=hylom-22" target="_blank"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&amp;ASIN=4797370904&amp;Format=_SL160_&amp;ID=AsinImage&amp;MarketPlace=JP&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=hylom-22" width="126" height="160" alt="はじめてのNode.js" class="block"></a>
    <p>Node.jsの解説本「はじめてのNode.js -サーバーサイドJavaScriptでWebアプリを開発する-」を出版しました。Node.jsのインストールや環境構築、パッケージの利用、Webアプリケーション作成、データベースやファイルアクセス、Expressフレームワークの利用、デバッグやテストといった、Node.jsでのWebアプリケーション作成に必要な知識を一通り解説しています。</p>
  </div>

  <h4>Mastodon入門書を執筆しました</h4>
  <div class="box-contents">
    <a href="https://www.amazon.co.jp/gp/product/B00W4NAS2Q/ref=as_li_tl?ie=UTF8&amp;camp=247&amp;creative=1211&amp;creativeASIN=B00W4NAS2Q&amp;linkCode=as2&amp;tag=hylom-22&amp;linkId=4577fc1071ccf6d3c534bd5a7bc4fe91" taget="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&amp;MarketPlace=JP&amp;ASIN=B00W4NAS2Q&amp;ServiceVersion=20070822&amp;ID=AsinImage&amp;WS=1&amp;Format=_SL250_&amp;tag=hylom-22" width="126" alt="Mastodonスタートアップガイド" class="block"></a>
    <p>分散型SNSであるMastodonの入門書を電子書籍として出版しました。初心者向けにMastodonの仕組み、用語、クライアントの使い方などを解説しています。</p>
  </div>
  <div class="box-contents">
  </div>
</div>

<div class="sidebar-box">
  <h3>関連リンク：</h3>
  <div class="box-contents">
    <dl>
      <dt><a href="http://srad.jp/">スラド</a></dt>
      <dd>セキュリティ関連からどうでもよいネタまで幅広く扱う雑談サイト</dd>
      
      <dt><a href="http://osdn.jp/magazine/">OSDN Magazine</a></dt>
      <dd>オープンソース関連ニュース/情報を掲載</dd>
      
      <dt><a href="http://osdn.jp/">OSDN</a></dt>
      <dd>オープンソースソフトウェア開発支援サイト。私も使っています</dd>
      
      <dt><a href="http://github.com/hylom">GitHub</a></dt>
      <dd>公開Gitリポジトリ。こちらも愛用しています</dd>
      
      <dt><a href="http://vps.sakura.ad.jp/">さくらのVPS</a></dt>
      <dd>hylom.netはさくらのVPSサービスを利用してます</dd>
      
      <dt><a href="https://plus.google.com/115759524056726415451" rel="publisher">Google+</a></dt>
      <dd>hylomのGoogle+ページ</dd>
      
      <dt><a href="http://twitter.com/hylom" rel="publisher">Twitter（@hylom）</a></dt>
      <dd>hylomのTwitter</dd>
    </dl>
  </div>
</div>
